/* 
    color scheme:
    #4b88c6
    #adcdef
    #5b935d
    #b0e9b0
    rgb(198, 219, 239) yeah idk why i made this rgb either
*/

body {
    font-size: 1em;
    font-weight: normal;
    /*font-family: Arial, Sans-serif;*/
    color: #000000;
    text-align: left;
    font-family:Calibri,'Gill Sans',sans-serif;
    margin: 0 auto;
    background-color: rgb(233, 243, 251);
    min-width: 720px;
    width:66%;
}
h1 {
    font-size: 1.8em;
    font-weight: bold;
    /*color: darkblue;*/
    color: #4b88c6;
    text-align: center;
}
h2, h3 {
    /*color:rgb(91, 78, 178)*/
    color: #5b935d
}
p, ul {
    /*color:rgb(52, 45, 104)*/
    color: #5b935d;
}
div {
    /*background-color:rgb(206, 189, 240);*/
    background-color:#ffffff;
    padding-left: 20px;
    padding-right: 20px;
    
    
    border: 4px solid #4b88c6;
}
h1, h2, h3 {
    font-family:Impact, 'Arial Black', sans-serif;
}

table {
  background-color: black;
  margin:1em;
}

th, td {
  background-color:white;
  padding: 1em;
}

div#skipnav {
    width: fit-content;
    position: absolute;
    top: 5px;
    right: 5px;
}

div.info {
  width: 40%;
  font-size: 1.2em;
  float: left;
  margin:1em;
  }

#overview p {
    font-weight: bold;
}

p.temp {
    font-style:italic;
}

main {
    background-color:#4b88c6;
}

a#skipnav {
    color: #5b935d;
    background-color: white;
}
a#skipnav:hover, a#skipnav:focus {
    color: white;
    background-color: #5b935d;
}

a {
    color: #5b935d;
    background-color: rgb(233, 243, 251);
}
a:hover, a:focus {
    color: rgb(233, 243, 251);
    background-color: #5b935d;
}

p#overview:first-letter {
    font-size: 2em;
    font-family: 'American Typewriter', serif;
}

nav {
clear: left;
}